<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140686736776-rc666jpt2indbre7q73pe2tgc9obhm0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140686736776-rc666jpt2indbre7q73pe2tgc9obhm0u</string>
	<key>API_KEY</key>
	<string>AIzaSyB6IfXIsCO2CvO7BpTeSZ3ouzVjo6W14VE</string>
	<key>GCM_SENDER_ID</key>
	<string>140686736776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fundManager</string>
	<key>PROJECT_ID</key>
	<string>fundmanager-4725a</string>
	<key>STORAGE_BUCKET</key>
	<string>fundmanager-4725a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140686736776:ios:32a01802462e57dde48e3d</string>
	<key>DATABASE_URL</key>
	<string>https://fundmanager-4725a.firebaseio.com</string>
</dict>
</plist>